html, body {
    margin: 0;
    height: 100%; 
}
body {
    font-style: normal;
    line-height: 1.6;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
}
.page-title {
    font-size: 2rem;
    line-height: 1.2;
    margin: auto;
    font-weight: normal;
    font-family: "Fira Code", monospace;
}
.page-title > strong {
    font-size: 1.1em
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {
    .page-title {
        font-size: 7vw;
    }
    p {
        font-size: 5vw;
    }
}
a {
    color: #26a69a;
    text-decoration: none;
}